<div class="filter-container">
  <span>Filter: </span>

  <input
    type="radio"
    name="filter"
    value="AllCourses"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>All Courses </span>

  <input
    type="radio"
    name="filter"
    value="AllMovies"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>All Movies</span>

  <input
    type="radio"
    name="filter"
    value="Both"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>Both</span>
</div>
